# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.[oa]
*~
*.obj
*.pro.user*

sys

prj/*/*/*
!prj/*/*_qt/*.pri
!prj/*/*_qt/*.pro

workspaces/*/*
!workspaces/*_qt/*.pri
!workspaces/*_qt/*.pro
